@tailwind base;

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #1d4567;
    border-radius: 10px;
  }
  

@tailwind components;
@tailwind utilities;